<h1><%= @user.to_s %></h1>
<p><b>Age:</b> <%= @user.age %></p>
<%= link_to 'Edit User Information', edit_user_path(@user) %>



<h1>Assets Assigned</h1>
<br>

<p><%= link_to 'Delete', @user, method: 'delete', data: { confirm: 'Are you sure?' }%></p>
<p><%= link_to 'Go back to all users', users_path %></p>